body {
  font-family: "Inter", sans-serif;
  font-family: "Manrope", sans-serif;
  background-color: #000000;
}
.section-main {
  width: 1400px;
  height: 7272px;
  margin: 0 auto;
}
.nav {
  margin: 0 auto;
  text-align: center;
  margin-top: 44px;
}
.nav-lick {
  height: 30px;
  text-decoration: none;
  margin-right: 43px;
  margin-top: 44px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: -0.03em;
  color: #ffffff;
  text-transform: uppercase;
}
a.nav-lick:nth-last-child(1) {
  margin-right: 0px;
}
.nothing-ear {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 150px;
  line-height: 133px;
  text-align: center;
  letter-spacing: -0.07em;
  color: #ff25c2;
  margin-top: 60px;
  height: 156px;
  margin-bottom: 90px;
}
.preview{
  position: relative;
  margin: 0 auto;
  width: 1400px;
  height: 910px;
}
.Nothing-Ear-img {
  position: relative;
  margin: 0 auto;
  background-image: url("../resources/Nothing_Ear.png");
  width: 819px;
  background-repeat: no-repeat;
  height: 840px;
  margin-bottom: 70px;
}
.text-header {
  position: absolute;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
  letter-spacing: -0.03em;
  left: 485px;
  top: -65px;
  right: 485px;
  width: 430px;
  height: 103px;
  color: #ffffff;
}
.block-headphones {
  position: relative;
  width: 1150px;
  height: 644px;
  margin: 0 auto;
  margin-bottom: 80px;
}
.block-headphones:nth-last-child(1) {
  margin-bottom: 1px;
}
.header-headphones {
  font-family: "Inter";
  position: absolute;
  top: 50px;
  left: 50px;
  right: 725px;
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 93.52%;
  letter-spacing: -0.05em;
  color: #ffffff;
}
.small-img {
  position: absolute;
  left: 50px;
  top: 311px;
}
.button-headphones {
  position: absolute;
  border: 1px solid #ffffff;
  border-radius: 100px;
  bottom: 50px;
  left: 50px;
  width: 420px;
  height: 110px;
  text-decoration: none;
}
.button-headphones p {
  position: absolute;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #ffffff;
  width: 297px;
  height: 28px;
  left: 62px;
  top: 40px;
}
.box-men {
  position: relative;

  background-image: url("../resources/left_men.png");
  width: 702.99px;
  height: 786px;
  margin-top: 150px;
}
.right-men {
  position: relative;
  background-image: url("../resources/right_men.png");
  width: 702.99px;
  height: 786px;
  margin-left: 689px;
}
.title-men {
  position: absolute;
  width: 560px;
  height: 148px;
  left: -277px;
  top: 190px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 100px;
  line-height: 74px;

  text-align: center;
  letter-spacing: -0.06em;

  color: #ff25c2;
}
.text-men-first {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
  letter-spacing: -0.03em;

  color: #ffffff;
  position: absolute;
  top: 377px;
  right: 365px;
  width: 671px;
  height: 90px;
}
.text-men-second{
  font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 30px;
text-align: center;
letter-spacing: -0.03em;
position: absolute;
color: #FFFFFF;
width: 671px;
height: 90px;
bottom: 190px;
right: 365px;
}
